@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model List<An.MyAon.Common.Models.User>

<h2>Index</h2>
<ul>
    @foreach (var user in Model)
    { 
        <li>@user.Name</li>
    }
</ul>
